.outline {
  border: 1px solid grey;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey; }

div .row {
  padding-top: 5px;
  padding-bottom: 5px; }

.progress {
  background-color: #00000061; }

.modal-footer > div > button {
  margin-left: 5px;
  margin-right: 5px; }
